

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и вход</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</body>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
        <a class="navbar-brand" href="/">
            <img src="{% static 'main/images/logo.png' %}" alt="Ваш логотип" width="100" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Профиль
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Мои показатели</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/training">Дневник тренировок</a>
                        <a class="dropdown-item" href="/eating">Дневник питания</a>
                    </div>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link font-weight-bold" href="/progtrain">Программы</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link font-weight-bold" href="/progeat">Питание</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link font-weight-bold"  href="/auth">Вход/Регистрация</a>
                </li>
            </ul>
        </div>
    </nav>


     <!-- Наполнение -->
    <div class="container mt-5">
        <h4 class="text-center mb-5">Данные для тренировочного плана</h4>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Пол</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">Мужчина</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">Женщина</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="height">Рост, см</label>
                    <input type="text" class="form-control" id="height" name="height">
                </div>
                <div class="form-group col-md-6">
                    <label for="weight">Вес, кг</label>
                    <input type="text" class="form-control" id="weight" name="weight">
                </div>
                <div class="form-group col-md-6">
                    <label for="age">Возраст, лет</label>
                    <input type="text" class="form-control" id="age" name="age">
                </div>
            </div>
            <div class="form-group">
                <label for="goal">Цель</label>
                <select class="form-control" id="goal" name="goal">
                    <option value="" disabled selected>Выберите значение...</option>
                    <option value="option1">Похудение</option>
                    <option value="option3">Развитие скорости</option>
                    <option value="option3">Развие выносливости</option>
                    <option value="option2">Набор мышечной массы</option>
                    <option value="option3">Специализированные тренировки</option>
                </select>
            </div>
            <div class="form-group">
                <label for="training-frequency">Планируемое количество тренировок в неделю</label>
                <select class="form-control" id="training-frequency" name="training-frequency">
                    <option value="" disabled selected>Выберите значение...</option>
                    <option value="option1">1</option>
                    <option value="option2">2</option>
                    <option value="option3">3</option>
                    <option value="option4">4</option>
                    <option value="option5">5</option>
                    <option value="option6">6</option>
                    <option value="option7">7</option>
                    <option value="option8">8</option>
                    <option value="option9">9</option>
                    <option value="option10">10</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fitness-age">Укажите тренировочный стаж</label>
                <select class="form-control" id="fitness-age" name="fitness-age">
                    <option value="" disabled selected>Выберите значение...</option>
                    <option value="option1">Новичок, до 1 года</option>
                    <option value="option2">Любитель, 2-5 лет</option>
                    <option value="option3">Продвинутый, 5-10 лет</option>
                    <option value="option4">Опытный, от 10 лет</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fitness-level">Оцените Ваш текущий уровень тренировчной активности</label>
                <select class="form-control" id="fitness-level" name="fitness-level">
                    <option value="" disabled selected>Выберите значение...</option>
                    <option value="option1">Начинающий</option>
                    <option value="option2">Тренерованный[регулярные занятия спортом 1-2 раза в неделю]</option>
                    <option value="option3">Продвинутый[регулярные занятия спортом 3 и более раз в неделю]</option>
                    <option value="option4">Профессионал</option>
                </select>
            </div>
            <div class="form-group">
                <label for="activity-level">Уровень повседневной активности</label>
                <select class="form-control" id="activity-level" name="activity-level">
                    <option value="" disabled selected>Выберите значение...</option>
                    <option value="option1">Сидячая работа, малоподвижный образ жизни</option>
                    <option value="option2">Умеренная активность</option>
                    <option value="option3">Физическая работа, активный образ жизни</option>
                </select>
            </div>
            <div class="form-group">
                <label for="equipment">Доступный вид тренировок</label>
                <select class="form-control" id="equipment" name="equipment">
                    <option value="" disabled selected>Выберите значение...</option>
                    <option value="option1">В тренажерном зале</option>
                    <option value="option2">Домашние, с оборудованием</option>
                    <option value="option3">Домашние, без оборудования</option>
                </select>
            </div>
            <div class="form-group">
                <label for="limitations">Наличие медицинских противопоказаний/травм/ограничений по видам нагрузки</label>
                <input type="text" class="form-control" id="limitations" name="limitations">
            </div>
            <button type="submit" class="btn btn-primary text-center">Отправить</button>
        </form>
    </div>
    
    <!-- Подвал с контактной информацией -->
    <footer class="footer fixed-bottom">
        <div class="custom-footer">
            <p>&copy; Гусев Иван - Health Hub 2023. Все права защищены.</p>
        </div>
    </footer>
</html>
