/* Стили для футера */
.custom-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #C2F4B5; /* Цвет фона по вашему выбору */
        color: #000000; /* Цвет текста по вашему выбору */
        text-align: center; /* Выравнивание текста по центру */
        padding: 10px; /* Отступы по вашему выбору */ 
}

/* Стили для центрирования форм по вертикали */
.vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        max-width: 1000px; /* Максимальная ширина формы */
        width: 100%;
        padding: 20px;
}


/* Стили для карусели */
.carousel {
    background: #f0eff0; /* Цвет фона */
  }

  .carousel-image {
    max-height: 550px; /* Максимальная высота слайдов */
    object-fit: cover; /* Заполнение изображения по размеру контейнера */
    width: 100%; /* 100% ширина для заполнения контейнера */
  }
    
  .carousel-inner {
    text-align: center;
  }
  
  .carousel-item {
    background-size: cover;
    background-position: center;
    height: 400px; /* Высота слайдов */
    position: relative;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Прозрачный фон для текста */
    color: #fff; /* Цвет текста */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  }
  
  .carousel-caption h3 {
    font-size: 24px;
  }
  
  .carousel-caption p {
    font-size: 18px;
  }
  
  .custom-bg-color {
    background-color: #65ff3e54; /* Здесь можно указать цвет по вашему выбору */
}


.btn {
  margin-bottom: 100px; /* Установите нужное значение в пикселях */
  color: #383838; /* Ваш цвет текста */
}

:root {
  --primary-color: #f0eff0; /* Изменение цвета основного фона */
  --text-color: #1f1f1f; /* Изменение цвета текста */
}

/* Применение измененных переменных к элементам */
body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

:root {
  --primary: #29b0006f; /* Изменение цвета основных кнопок */
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.custom-margin {
  margin: 20px 10px; /* Задайте необходимые значения отступов */
}

/* Создание стиля рамки */
.border-example {
  border: 3px solid #29b0006f; /* 2 пикселя толщина, сплошная линия, черного цвета */
  padding: 10px; /* Внутренний отступ для текста внутри рамки */
  border-radius: 10px; /* Закругленные углы рамки (по желанию) */
  background-color: #f0f0f0; /* Цвет фона внутри рамки (по желанию) */
  color: #333; /* Цвет текста внутри рамки (по желанию) */
}

/* Стиль кнопки */
.custom-button {
  padding: 10px 20px;
}

/* Стиль кнопки при наведении */
.custom-button:hover {
  background-color: #2980b9;
}

/* Стиль кнопки при активации (нажатии) */
.custom-button:active {
  background-color: #2078a5;
}