{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и вход</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
        <a class="navbar-brand" href="/">
            <img src="{% static 'auth/images/logo.png' %}" alt="Ваш логотип" width="100" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Профиль
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Мои показатели</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/training">Дневник тренировок</a>
                        <a class="dropdown-item" href="/eating">Дневник питания</a>
                    </div>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link font-weight-bold" href="/progtrain">Программы</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link font-weight-bold" href="/progeat">Питание</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link font-weight-bold"  href="/auth">Вход/Регистрация</a>
                </li>
            </ul>
        </div>
    </nav>

        <div class="container">
            <!-- Форма входа и регистрации в округлой форме -->
            <div class="row justify-content-center">
                <div class="vertical-center">
                    <div class="col-md-6">
                        <div class="rounded p-3 shadow text-center"> <!-- Центрирование содержимого по горизонтали -->
                            <!-- Форма для входа -->
                            <form>
                                <h2>Вход</h2>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="login-email" placeholder="Введите email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="login-password" placeholder="Пароль">
                                </div>
                                <button type="submit" class="btn btn-primary">Войти</button>
                                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                                <a href="#forgot-password-form" class="btn btn-link">Забыли пароль?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Подвал с контактной информацией -->
    <footer class="footer fixed-bottom">
        <div class="custom-footer">
            <p>&copy; Гусев Иван - Health Hub 2023. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
